.stepfour {
    display: flex;
    flex-wrap: wrap; /* 줄바꿈 허용 */
}
.stepfour h1 {
    margin-top: 0px;
    padding-left: 30px;
}

.topping {
    display: grid;
    grid-template-columns: repeat(2, 220px); /* 두 열로 나누기 */
    gap: 10px; /* 이미지 간 간격 */
    margin-top: 100px;
    margin-left: 200px;
}
.topping img {
    width: 200px;
    height: 200px;
    object-fit: contain; 
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 20px;
    border: 1px solid rgba(150, 150, 150, 0.3);
    transition: 0.2s;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.topping img:hover {
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.8);
    transform: scale(1.02);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.state4 {
    margin-left: 400px;
    position: relative;
    height: 600px;
    width: 300px;
}
.state4 img {
    position: absolute;
    left: 0;
}
.topping-image {
    position: absolute;
    animation: dropIcecream 0.7s ease-out forwards;
    --translateX: -2px;
}

.topping-cup {
    top: 250px;
    --translateX: 150px;
}

.topping-cone {
    top: 170px;
    --translateX: 130px;
}

/* 젤리만 크기 그대로 */
.topping-jelly {
    width: 200px;
    height: auto;
}

/* 젤리 외 토핑들은 크기 줄이기 */
.topping-small {
    width: 200px;
    height: auto;
}

/* 컵 + 젤리 */
.topping-cup.topping-jelly {
    top: 280px;
}

/* 콘 + 젤리 */
.topping-cone.topping-jelly {
    top: 220px;
}

@keyframes dropIcecream {
    0% {
        transform: translate(var(--translateX, 0), -200vh);
        opacity: 0;
    }
    50% {
        transform: translate(var(--translateX, 0), 50px);
        opacity: 0.7;
    }
    100% {
        transform: translate(var(--translateX, 0), 0);
        opacity: 1;
    }
}
