@font-face {
    font-family: "Nanum";
    src: url("/NanumPenScript-Regular.ttf");
}

html,
body {
    margin: 0px;
    width: 100%;
    background-color: rgb(246, 246, 246);
}

#root {
    background-color: white;
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
    min-height: 100vh;
    height: 100%;
}

body * {
    font-family: "Nanum";
}